// bower:scss
// endbower

@import 'fonts';
@import 'animated';

$space-black: rgb(17,26,34);
$space-blue: rgb(30,52,62);

$link-blue: #99CCFF;
$link-hover-blue: #B8DBFF;
$link-visited-purple: #99A6FF;

body {
	font-family: 'Josefin Sans', sans-serif;
	margin: 0;
	color: white;
}

* {
	box-sizing: border-box;
}

a {
	color: $link-blue;
	text-decoration: none;
	border-bottom: 1px dashed rgba($link-blue, 0.4);

	transition: color 0.2s ease-out, border-color 0.2s ease-out;

	&:hover,
	&:focus {
		color: $link-hover-blue;
		border-bottom-color: $link-hover-blue;
	}

	&:visited {
		color: $link-visited-purple;
		border-bottom-color: $link-visited-purple;
	}
}

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

html, body {
	height: 100%;
}

.copy-vertical-wrapper {
	position: relative;
	height: 100%;
}

.copy {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

main {
	background: -webkit-repeating-linear-gradient(160deg, $space-black, $space-blue 50%, $space-black 100%);
	background: -o-repeating-linear-gradient(160deg, $space-black, $space-blue 50%, $space-black 100%);
	background: -moz-repeating-linear-gradient(160deg, $space-black, $space-blue 50%, $space-black 100%);
	background: repeating-linear-gradient(160deg, $space-black, $space-blue 50%, $space-black 100%);

	.content {
		z-index: 2;
		width: 100%;

		.stars-wrapper {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			overflow-y: hidden;

			height: 300vh;
			width: 100%;

			animation-duration: 3s;
			animation-delay: 2.5s;

			@media(max-width: 767px) {
				height: 350vh;
			}

			.stars {
				-webkit-transform: translateZ(0);
				position: absolute;
				top: 0;
				left: 0;
				height: 130%;
				width: 100%;
			}
		}

		.panel {
			height: 100vh;
			width: 100%;

			z-index: 3;
			position: relative;

			&.welcome {
				.ahoy,
				.ahoy-subheading,
				#down-chevron {
					text-align: center;
					text-shadow: 3px 3px 4px #666;
					z-index: 4;
				}

				.ahoy {
					font-weight: 100;
					font-size: 8em;
					padding-top: 1em;
					margin-top: 0;
					margin-bottom: 0.2em;

					animation-delay: 0.5s;

					@media(max-width: 767px) {
						font-size: 6em;
						padding-top: 10%;
					}
				}

				.ahoy-subheading {
					font-weight: 300;
					font-size: 1.8em;
					padding-left: 20px;
					padding-right: 20px;

					animation-delay: 1.5s;

					@media(max-width: 767px) {
						font-size: 1.6em;
					}

					.cheesy-joke {
						border-bottom: 1px dashed rgba(255,255,255,0.2);
						cursor: help;
					}
				}

				#down-chevron {
					position: absolute;
					bottom: 0;
					left: calc(50% - 0.5em);
					margin-bottom: 2%;
					font-size: 5em;
					cursor: pointer;
					animation-delay: 3.5s;

					transition: opacity 0.4s ease-out;

					@media(max-width: 767px) {
						font-size: 4em;
					}

					&:not(.visible) {
						opacity: 0 !important;
						cursor: default;
					}
				}
			}

			&.about {
				overflow: hidden;

				@media(max-width: 767px) {
					height: 150vh;
					padding: 10px;
				}

				.copy-vertical-wrapper,
				.copy {
					display: inline-block;
					z-index: 3;

					h1 {
						font-weight: 100;
						font-size: 50px;
					}
				}

				.copy {
					padding-left: 5%;

					@media(max-width: 767px) {
						padding-left: 0;
					}
				}

				.copy-vertical-wrapper {
					width: 50%;

					@media(max-width: 767px) {
						width: 100%;
						height: 50%;
					}
				}

				.moon-wrapper {
					z-index: 1;
					height: 100%;
					width: 50%;
					float: right;
					position: relative;

					@media(max-width: 767px) {
						width: 100%;
						height: 50%;
					}

					#moon {
						width: 100%;
						height: 100%;
					}
				}

				.orbit-image-container {
					position: absolute;
					top: 0;
					left: 0;

					.orbit-relative-wrapper {
						position: relative;
					}
				}

				.orbit-image {
					position: absolute;
					width: 75px;
					transform: rotate(6deg);
					-webkit-transform: translateZ(0);

					@media(max-width: 767px) {
						width: 60px;
					}

					&.japan {
						padding-bottom: 14px;
					}

					&.steam, &.js, &.stormtrooper {
						padding: 8px;
					}

					&.coffee {
						padding: 4px;
					}

					&.android {
						padding: 13px;
					}
				}
			}

			&.contact {
				overflow-y: hidden;
				.copy {
					z-index: 4;

					p {
						max-width: 400px;
						margin-left: auto;
						margin-right: auto;
						margin-bottom: 5%;

						@media(max-width: 767px) {
							padding-left: 10px;
							padding-right: 10px;
						}
					}
				}

				h1 {
					font-weight: 100;
					font-size: 50px;
					margin-bottom: 3%;
					padding-bottom: 10px;
				}

				a.social {
					display: inline-block;
					background-color: transparent;
					border: none;
					padding: 1px 8px 5px 8px;
					margin: 10px;
					cursor: pointer;
					border-radius: 8px;

					color: rbga(white, 0.8);

					transition: background-color 0.4s ease-out;

					&.twitter {
						background-color: rgba(#00ACED, 0.15);
						&:hover {
							background-color: rgba(#00ACED, 0.5);
						}
					}

					&.github {
						background-color: rgba(59, 59, 59, 0.25);
						&:hover {
							background-color: rgba(59, 59, 59, 0.5);
						}
					}

					&.linkedin {
						background-color: rgba(0, 122, 181, 0.2);
						&:hover {
							background-color: rgba(0, 122, 181, 0.5);
						}
					}

					&.email {
						background-color: rgba(255, 50, 50, 0.2);
						&:hover {
							background-color: rgba(255, 50, 50, 0.5);
						}
					}

					span {
						font-size: 40px;
						border-bottom-width: 0px;

						@media(max-width: 767px) {
							font-size: 30px;
						}

						&:before {
							vertical-align: middle;
							color: rgba(white, 0.9);
						}
					}

					&:hover span:before {
						color: rgba(white, 1);
					}
				}

				button.cv {
					background-color: rgba(#349BA0, 1);
					border: 0;
					border-radius: 8px;
					padding: 10px 20px;
					margin-bottom: 3%;
					font-size: 25px;
					font-weight: 300;
					font-family: "Josefin Sans",sans-serif; //I don't know why this isn't being inherited in firefox??
					color: white;
					cursor: pointer;

					transition: background-color 0.3s ease-out, box-shadow 0.3s ease-out;

					@media(max-width: 767px) {
						font-size: 20px;
					}

					&:hover {
						padding: 9px 21px 11px 19px;
						background-color: #5DAFB3;
						box-shadow: 2px 3px rgba(80,80,80,0.5)
					}
				}

				#cv-container {
					position: fixed;
					top: 100%;
					height: 100%;
					width: 100%;
					padding: 5% 10%;
					z-index: 5;
					opacity: 0;

					transition: top 0.6s ease-out, opacity 0.6s ease-out;

					@media(max-width: 767px) {
						padding: 2.5% 5%;
					}

					&.show {
						top: 0;
						opacity: 1;
					}

					.cv-box {
						height: 100%;
						max-height: 100%;
						position: relative;
						text-align: center;
						background-color: #E0ECFE;
						border-radius: 10px;
						padding: 20px 5%;
						color: $space-black;

						@media(max-width: 767px) {
							padding: 5px 5%;
						}

						.close {
							position: absolute;
							top: 20px;
							right: 20px;
							cursor: pointer;
							font-size: 20px;

							&:before {
								color: rgba($space-blue, 0.9);
							}
						}

						h1 {
							margin-top: 0;
							margin-bottom: 0;
							padding-top: 3%;
							padding-bottom: 5px;

							@media(max-width: 767px) {
								font-size: 25px;
							}
						}

						hr {
							width: 150px;
							margin-bottom: 2%;
							color: rgba($link-hover-blue, 1);
							border-width: 1px;

							@media(max-width: 767px) {
								margin-top: 0;
							}
						}

						h3 {
							margin-top: 0;
							font-weight: 500;

							@media(max-width: 767px) {
								font-size: 17px;
							}
						}

						ol.sections {
							padding: 0;

							li {
								display: inline-block;
								list-style: none;
								min-width: 120px;

								@media(max-width: 767px) {
									display: block;
								}

								a {
									font-size: 20px;
									cursor: pointer;
									color: lighten($space-blue, 40%);
									border-bottom: 0;
									transition: all 0.5s ease-in-out;

									@media(max-width: 767px) {
										font-size: 18px;
									}
								}

								&.active a {
									color: $space-black;
									border-bottom: 1px solid lighten($space-blue, 30%);
								}
							}
						}

						.cv-copy {
							height: calc(100% - 240px);

							@media(max-width: 767px) {
								height: calc(100% - 186px);
							}

							position: relative;

							.copy-section {
								// position: absolute;
								height: 0;
								max-height: 100%;
								opacity: 0;
								top: 100%;
								overflow-y: auto;

								transition: opacity 0.4s ease-in-out, height 0.4s ease-in-out;

								&.active {
									height: auto;
									opacity: 1;
									top: 0;
								}

								.tagline {
									margin-bottom: 0;
									margin-top: 5px;
								}

								ol.description {
									padding: 0 10px;

									&:not(.key-skills) {
										text-align: left;
									}

									li {
										list-style: none;
										padding-bottom: 1em;

										@media(max-width: 767px) {
											font-size: 15px;
										}
									}
								}

								p.key-skills {
									font-size: 19px;

									@media(max-width: 767px) {
										font-size: 17px;
									}
								}
							}
						}

						section.company-logo-box {
							position: relative;
							width: 40%;
							min-width: 200px;
							height: 35px;
							border-radius: 15px;
							margin-left: auto;
							margin-right: auto;
							margin-top: 20px;
							margin-bottom: 15px;
							overflow-y: hidden;

							&.katchup {
								background-color: #432449;
							}

							&.bt {
								background-color: rgb(33, 68, 152);
							}

							&.bae {
								background-color: rgb(229, 25, 55);

								img {
									height: 25px;
									margin-top: 5px;
								}
							}

							&.uni {
								background-color: rgb(9, 94, 45);
							}

							img {
								height: 100%;
								padding: 6px;
							}
						}
					}
				}
			}
		}
	}
}
